SUPABASE_URL=https://kbcnqovbzwixdxzpaday.supabase.co
SUPABASE_SERVICE_KEY=
SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=https://kbcnqovbzwixdxzpaday.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SYNC_SECRET=
CRON_SECRET=
ANTHROPIC_API_KEY=
